<ion-content fullscreen scroll-y="false">

  <ion-slides pager="true">
    <ion-slide>
      <div style="height: 98vh;" class="ion-padding">
        <img src="./../../assets/buy.png" />
        <ion-card-header>
          <h3 class="mt-2 text-dark font-weight-bold text-center">Support our local products</h3>
        </ion-card-header>
        <p class="sub-title text-muted p-2">
          Encourage our modern generation to buy or consume our locally made products .
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div style="height: 98vh;" class="ion-padding">
        <img src="./../../assets/resources.png" />
        <ion-card-header>
          <h3 class="mt-2 text-dark font-weight-bold text-center">Cultivate and Promote our natural resources</h3>
        </ion-card-header>
        <p class="sub-title text-muted">
          We can preserve our agricultural heritage by reproducing our native brands.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div style="height: 98vh;" class="ion-padding">
        <img src="./../../assets/wallet.png" />
        <ion-card-header>
          <h3 class="mt-2 text-dark font-weight-bold text-center">Create and Stablish opportunities</h3>
        </ion-card-header>
        <p class="sub-title text-muted">
          Tangkilik would like to eliminate middle man who resells unreasonable price of products.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div style="height: 98vh;" class="ion-padding">
        <img src="./../../assets/test-img.png" />
        <ion-card-header>
          <h3 class="mt-2 text-dark font-weight-bold">Tangkilik</h3>
        </ion-card-header>
        <p class="sub-title text-muted font-italic">
          "Ito'y sariling atin."
        </p>
        <div class="d-flex justify-content-center pb-3 continue-btn">
          <ion-button routerLink="/tabs" fill="clear" color="custom-color">Continue <ion-icon slot="end"
              name="arrow-forward"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>