<ion-content fullscreen>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="row mt-5 px-3">
          <p class="font-weight-bold text-secondary text-center">Kindly fill the fields to post your product.
          </p>
        </div>
        <div class="row m-2 py-3">
          <div class="col-12 px-2">
            <div class="form-group my-2">
              <label class="text-dark font-weight-bold mb-2 ml-1 label-props">Product Name</label>
              <ion-input autocapitalize="on" autofocus=true inputmode="text" type="text"
                class="form-control form-control radius p-2" placeholder="Enter product name" required></ion-input>
            </div>
          </div>
          <div class="col-12 px-2">
            <div class="form-group my-2">
              <label class="text-dark font-weight-bold mb-2 ml-1 label-props">Product Price</label>
              <ion-input autocapitalize="on" autofocus=true inputmode="text" type="text"
                class="form-control form-control radius p-2" placeholder="Enter your desired price" required>
              </ion-input>
            </div>
          </div>
          <div class="col-12 px-2">
            <div class="form-group my-2">
              <label class="text-dark font-weight-bold mb-2 ml-1 label-props">Product Description</label>
              <ion-input autocapitalize="on" autofocus=true inputmode="text" type="text"
                class="form-control form-control radius p-2" placeholder="Enter product description" required>
              </ion-input>
            </div>
          </div>
          <div class="col-12 px-2">
            <div class="form-group my-2">
              <label class="text-dark font-weight-bold mb-2 ml-1 label-props">Address</label>
              <ion-input autocapitalize="on" autofocus=true inputmode="text" type="text"
                class="form-control form-control radius p-2" placeholder="Enter your address" required></ion-input>
            </div>
          </div>
          <div class="col-12 px-2">
            <div class="form-group my-2">
              <label class="text-dark font-weight-bold mb-2 ml-1 label-props">Seller Information</label>
              <ion-input autocapitalize="on" autofocus=true inputmode="text" type="text"
                class="form-control form-control radius p-2" placeholder="Full name, Contact number" required>
              </ion-input>
            </div>
          </div>
          <div class="col-12 mt-4">
            <ion-button class="btn-radius" expand="block" color="primary" fill="solid" strong="true">
              Sell Product
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>