.text-success {
    color: #2dd36f !important;
}

.btn.btn-success {
    border-radius: 20px !important;
    background-color: #2dd36f;
    border: none !important;
}

.btn.btn-danger {
    border-radius: 20px !important;
    background-color: #eb445a;
    border: none !important;
}
