<ion-content fullscreen="true" scroll-y="false">
  <ion-fab vertical="top" slot="fixed" horizontal="end" (click)="presentModalAdd()">
    <ion-fab-button class="p-0" color="success">
      <ion-icon name="cart"></ion-icon>
      <ion-badge class="mt-2" color="danger">{{cartCount}}</ion-badge>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-input inputmode="text" type="text" class="form-control form-control radius p-2 search-box"
    placeholder="Search product"></ion-input> -->

  <div class="container-fluid item-holder">
    <div class="row">
      <div class="col-sm-12 py-2">
        <div class="card mb-2" *ngFor="let items of prodList; let i = index;">
          <img class="card-img-top" src="../../assets/resources.png">
          <div class="card-body text-dark">
            <h5 class="card-title">{{items.ProductName}}</h5>
            <p class="card-text">{{items.ProductDescription}}</p>
          </div>
          <ul class="list-group list-group text-dark font-weight-bold">
            <li class="list-group-item"><span class="fa fa-map-marker text-danger"></span> {{items.ProductLocation}}</li>
            <li class="list-group-item"><span class="fa fa-money text-danger"></span> {{items.ProductPrice}}</li>
            <li class="list-group-item"><span class="fa fa-user text-danger"></span> {{items.productseller}}</li>
          </ul>
          <div class="card-body text-center">
            <button class="btn btn-success" (click)="presentActionSheet(items)"><span
                class="fa fa-cart-plus"></span> Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>